*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuildDir
.cxx
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
release/
app/build/
app/release/
.kotlin/
*.hprof
*.log
local.properties
